@import '@/assets/css/base.scss';

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

// 修复 position: sticky 失效
body#body.body {
  overflow: visible !important;
}
