$LayoutWidth: 1300px;
$Black: #363636;
$Blue: #409eff;
$Red: #f56c6c;
$Pink: #ff6699;
$Green: #00c4b6;
$White: #fff;
$AColor: $Blue;
$FontColor: #363636;
$Gray: #ddd;
$LightGray: #f2f3f5;
$FontGrayColor: #8a919f;
@keyframes progressive {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
